@{ 
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="container text-center">
        <h1>Administration Centre</h1>
        <h2>Welcome, @User.Identity.Name</h2>
        <br />
        <h3>Databases</h3>
        <br />

        <a asp-controller="Cities" asp-action="Index" class="boxed-btn4">Cities</a>

        <a asp-controller="Countries" asp-action="Index" class="boxed-btn4">Countries</a>

        <a asp-controller="Users" asp-action="Index" class="boxed-btn4">Users</a>

    </div>

