
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Administration Centre</h1>
<h2>Welcome, user</h2>
<br />
<p>Databases</p>
<br />
<button class="btn-primary justify-content-md-start">
    <a class="nav-link text-dark" asp-controller="Cities" asp-action="Index">Cities</a>
</button>
<button class="btn-primary justify-content-md-center">
    <a class="nav-link text-dark" asp-controller="Countries" asp-action="Index">Countries</a>
</button>
<button class="btn-primary justify-content-md-end">
    <a class="nav-link text-dark" asp-controller="Users" asp-action="Index">Users</a>
</button>
