@{
    ViewData["Title"] = "Locationer - Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
    <div class="slider_area">

        <!--Image slider 1-->
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Welcome to Locationer</h3>
                                <p>Discover where in the world is right for you...</p>
                                <a href="/Home/Map" class="boxed-btn3">Explore Cities</a>
                                <a href="/Home/Explore" class="boxed-btn3">Explore Countries</a>
                                <br /><br />
                                <a href="/Home/CompareCities" class="boxed-btn3">Compare Cities</a>
                                <a href="/Home/CompareCountries" class="boxed-btn3">Compare Countries</a>
                                <a href="/Home/CityRankings" class="boxed-btn3">City Rankings</a>
                                <a href="/Home/CountryRankings" class="boxed-btn3">Country Rankings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Image slider 2-->
            <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Welcome to Locationer</h3>
                                <p>Discover where in the world is right for you...</p>
                                <a href="/Home/Map" class="boxed-btn3">Explore Cities</a>
                                <a href="/Home/Explore" class="boxed-btn3">Explore Countries</a>
                                <br /><br />
                                <a href="/Home/CompareCities" class="boxed-btn3">Compare Cities</a>
                                <a href="/Home/CompareCountries" class="boxed-btn3">Compare Countries</a>
                                <a href="/Home/CityRankings" class="boxed-btn3">City Rankings</a>
                                <a href="/Home/CountryRankings" class="boxed-btn3">Country Rankings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Image slider 3-->
            <div class="single_slider  d-flex align-items-center slider_bg_3 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Welcome to Locationer</h3>
                                <p>Discover where in the world is right for you...</p>
                                <a href="/Home/Map" class="boxed-btn3">Explore Cities</a>
                                <a href="/Home/Explore" class="boxed-btn3">Explore Countries</a>
                                <br /><br />
                                <a href="/Home/CompareCities" class="boxed-btn3">Compare Cities</a>
                                <a href="/Home/CompareCountries" class="boxed-btn3">Compare Countries</a>
                                <a href="/Home/CityRankings" class="boxed-btn3">City Rankings</a>
                                <a href="/Home/CountryRankings" class="boxed-btn3">Country Rankings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Image slider 4-->
            <div class="single_slider  d-flex align-items-center slider_bg_4 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Welcome to Locationer</h3>
                                <p>Discover where in the world is right for you...</p>
                                <a href="/Home/Map" class="boxed-btn3">Explore Cities</a>
                                <a href="/Home/Explore" class="boxed-btn3">Explore Countries</a>
                                <br /><br />
                                <a href="/Home/CompareCities" class="boxed-btn3">Compare Cities</a>
                                <a href="/Home/CompareCountries" class="boxed-btn3">Compare Countries</a>
                                <a href="/Home/CityRankings" class="boxed-btn3">City Rankings</a>
                                <a href="/Home/CountryRankings" class="boxed-btn3">Country Rankings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Image slider 5-->
            <div class="single_slider  d-flex align-items-center slider_bg_5 overlay">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-md-12">
                            <div class="slider_text text-center">
                                <h3>Welcome to Locationer</h3>
                                <p>Discover where in the world is right for you...</p>
                                <a href="/Home/Map" class="boxed-btn3">Explore Cities</a>
                                <a href="/Home/Explore" class="boxed-btn3">Explore Countries</a>
                                <br /><br />
                                <a href="/Home/CompareCities" class="boxed-btn3">Compare Cities</a>
                                <a href="/Home/CompareCountries" class="boxed-btn3">Compare Countries</a>
                                <a href="/Home/CityRankings" class="boxed-btn3">City Rankings</a>
                                <a href="/Home/CountryRankings" class="boxed-btn3">Country Rankings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>