@{
    ViewData["Title"] = "Home Page";
}

    <div class="container text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Descriptive paragraph</p>
        <button class="btn-primary align-content-lg-center">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Explore">Explore Cities</a>
        </button>
        <br />
        <p>Or use one of our features</p>
        <br />
        <button class="btn-primary justify-content-md-start">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Map">Interactive Map</a>
        </button>
        <button class="btn-primary justify-content-md-center">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="Compare">Compare Cities</a>
        </button>
        <button class="btn-primary justify-content-md-end">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="CityRankings">View City Rankings</a>
        </button>
        <button class="btn-primary justify-content-md-end">
            <a class="nav-link text-dark" asp-controller="Home" asp-action="CountryRankings">View Country Rankings</a>
        </button>
    </div>
