@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="container text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Descriptive paragraph</p>
        <button class="btn btn-primary">
            <a class="text-light" asp-controller="Home" asp-action="Explore">Explore Cities</a>
        </button>
        <button class="btn btn-primary">
            <a class="text-light" asp-controller="Home" asp-action="Map">Map View</a>
        </button>
        <br /><br />

        <button class="btn btn-primary">
            <a class="text-light" asp-controller="Home" asp-action="Compare">Compare Cities</a>
        </button>
        <button class="btn btn-primary">
            <a class="text-light" asp-controller="Home" asp-action="CityRankings">View City Rankings</a>
        </button>
        <button class="btn btn-primary">
            <a class="text-light" asp-controller="Home" asp-action="CountryRankings">View Country Rankings</a>
        </button>
    </div>
