@model FYP.Models.LoginViewModel

@{
    ViewData["Title"] = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Log In</h1><br />
<!--
      <form method="post" asp-controller="Home" asp-action="LogIn">
                   Email:&nbsp;<input id="loginUsername" type="text"  /> <br /> <br />
                   Password:&nbsp;<input id="loginPassword" type="password"  /> <br /> <br />
                   <input id="chkRemember" "checkbox" />Html.DisplayNameFor(m => m.RememberMe) <br /><br />
                   <br />
                   <button class="btn btn-primary" type="submit" id="btnLogin">Log In</button>&nbsp;&nbsp;
                   <!--<a onclick="showRegister()">Don't have an account?</a>
      </form>

<br />

<script>
    function showRegister() {
        document.getElementById("register").style.display = "block";
    }

    function showCurrent() {
        document.getElementById("current").style.display = "block";
    }
</script>

<br />-->

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        @Html.DisplayNameFor(m => m.RememberMe)
                    </label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
