
@{
     ViewData["Title"] = "Rankings";
}

<h1>Rankings</h1>

<div class="container text-center">
    <button class="btn btn-primary" name="btnCities" >Cities</button>
    <button class="btn btn-primary" name="btnCountries">Countries</button>
    <br />

    <div class="container text-center">
        <button class="btn btn-primary" name="btnCityGeneral" style="display:none;">General</button>
        <button class="btn btn-primary" name="btnCityCost" style="display:none;">Costs</button>
        <button class="btn btn-primary" name="btnCityTransport" style="display:none;">Transport</button>
    </div>

    <div class="container text-center">
        <button class="btn btn-primary" name="btnCountryGeneral" style="display:none;">General</button>
        <button class="btn btn-primary" name="btnCountryWork" style="display:none;">Work</button>
        <button class="btn btn-primary" name="btnCityTax" style="display:none;">Taxes</button>
    </div>
</div>