@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Our Sources</h1>

<p>Here is where we get all of or information:
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a></li>
        <li><a href="https://www.numbeo.com/cost-of-living/">Numbeo</a></li>
        <li><a href="https://weatherspark.com/">Weather Spark - Climate information</a></li>
        <li><a href="http://worldpopulationreview.com/countries/best-healthcare-in-the-world/">World Population Reveiw - Healthcare System Rankings</a></li>
        <li><a href="https://www.tomtom.com/en_gb/traffic-index/ranking/">TomTom - Traffic rates</a></li>
        <li><a href="https://www.investopedia.com/articles/personal-finance/042914/top-pension-systems-world.asp">Investopedia - pension system indexes</a></li>
    </ul>
 </p>
