@{
    ViewData["Title"] = "Sources";
}

<div class="container">
    <h1>Our Sources</h1>
    <br />
    <p>
        Here is where we get all of our information: <br /><br />
        <div style="display:flex;">
            <div style="flex:1;">
                <ul class="unordered-list">
                    <li>
                        <a href="https://en.wikipedia.org/wiki/Main_Page">Wikipedia</a>
                        <ul>
                            <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_inequality-adjusted_HDI">Human Development Index</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)">Gross Domestic Product</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_average_wage">Average Salary per Annum</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/List_of_minimum_annual_leave_by_country">Minnimum Annual Leave</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/List_of_minimum_wages_by_country">Minnimum Wage</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_unemployment_rate">Unemployment Rate</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/Tuition_payments">Average University Cost</a></li>
                            <li><a href="https://en.wikipedia.org/wiki/List_of_countries_by_tax_rates">Taxation Rates</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="flex:1;">
                <ul class="unordered-list">

                    <li>
                        <a href="https://www.numbeo.com/cost-of-living/">Numbeo</a>
                        <ul>
                            <li><a href="https://www.numbeo.com/quality-of-life/rankings_current.jsp">Quality of Life Index</a></li>
                            <li><a href="https://www.numbeo.com/cost-of-living/rankings_current.jsp">Cost of Living Index</a></li>
                            <li><a href="https://www.numbeo.com/cost-of-living/rankings_current.jsp">Rent Index</a></li>
                            <li><a href="https://www.numbeo.com/cost-of-living/rankings_current.jsp">Purchasing Power Index</a></li>
                            <li><a href="https://www.numbeo.com/crime/rankings_current.jsp">Safety Index</a></li>
                            <li><a href="https://www.numbeo.com/pollution/rankings_current.jsp">Pollution Index</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div style="flex:1;">
                <ul class="unordered-list">
                    <li><a href="https://weatherspark.com/">Weather Spark - Climate information</a></li>
                    <li><a href="http://worldpopulationreview.com/countries/best-healthcare-in-the-world/">World Population Reveiw - Healthcare System Rankings</a></li>
                    <li><a href="https://www.tomtom.com/en_gb/traffic-index/ranking/">TomTom - Traffic rates</a></li>
                    <li><a href="https://www.investopedia.com/articles/personal-finance/042914/top-pension-systems-world.asp">Investopedia - Pension System Indexes</a></li>
                    <li><a href="https://clockify.me/working-hours">Clockify - Average weekly working hours</a></li>
                </ul>
            </div>
        </div>
    </p>

</div>