@model FYP.Models.Cities

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Cities</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfLivingIndex" class="control-label"></label>
                <input asp-for="CostOfLivingIndex" class="form-control" />
                <span asp-validation-for="CostOfLivingIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClimateType" class="control-label"></label>
                <input asp-for="ClimateType" class="form-control" />
                <span asp-validation-for="ClimateType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Population" class="control-label"></label>
                <input asp-for="Population" class="form-control" />
                <span asp-validation-for="Population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfUniversities" class="control-label"></label>
                <input asp-for="NoOfUniversities" class="form-control" />
                <span asp-validation-for="NoOfUniversities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfAirports" class="control-label"></label>
                <input asp-for="NoOfAirports" class="form-control" />
                <span asp-validation-for="NoOfAirports" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LightRailLines" class="control-label"></label>
                <input asp-for="LightRailLines" class="form-control" />
                <span asp-validation-for="LightRailLines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrafficRate" class="control-label"></label>
                <input asp-for="TrafficRate" class="form-control" />
                <span asp-validation-for="TrafficRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomicideRate" class="control-label"></label>
                <input asp-for="HomicideRate" class="form-control" />
                <span asp-validation-for="HomicideRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IncomeTax" class="control-label"></label>
                <input asp-for="IncomeTax" class="form-control" />
                <span asp-validation-for="IncomeTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vat" class="control-label"></label>
                <input asp-for="Vat" class="form-control" />
                <span asp-validation-for="Vat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorporationTax" class="control-label"></label>
                <input asp-for="CorporationTax" class="form-control" />
                <span asp-validation-for="CorporationTax" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
