@model FYP.Models.City

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>City</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" class ="form-control" asp-items="ViewBag.CountryId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Population" class="control-label"></label>
                <input asp-for="Population" class="form-control" />
                <span asp-validation-for="Population" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GeneralPicture" class="control-label"></label>
                <input asp-for="GeneralPicture" class="form-control" />
                <span asp-validation-for="GeneralPicture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QualityOfLifeIndex" class="control-label"></label>
                <input asp-for="QualityOfLifeIndex" class="form-control" />
                <span asp-validation-for="QualityOfLifeIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostOfLivingIndex" class="control-label"></label>
                <input asp-for="CostOfLivingIndex" class="form-control" />
                <span asp-validation-for="CostOfLivingIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentIndex" class="control-label"></label>
                <input asp-for="RentIndex" class="form-control" />
                <span asp-validation-for="RentIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurchasingPowerIndex" class="control-label"></label>
                <input asp-for="PurchasingPowerIndex" class="form-control" />
                <span asp-validation-for="PurchasingPowerIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClimateType" class="control-label"></label>
                <input asp-for="ClimateType" class="form-control" />
                <span asp-validation-for="ClimateType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClimateImage" class="control-label"></label>
                <input asp-for="ClimateImage" class="form-control" />
                <span asp-validation-for="ClimateImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClimateDescription" class="control-label"></label>
                <input asp-for="ClimateDescription" class="form-control" />
                <span asp-validation-for="ClimateDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrafficRate" class="control-label"></label>
                <input asp-for="TrafficRate" class="form-control" />
                <span asp-validation-for="TrafficRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LightRailLines" class="control-label"></label>
                <input asp-for="LightRailLines" class="form-control" />
                <span asp-validation-for="LightRailLines" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfAirports" class="control-label"></label>
                <input asp-for="NoOfAirports" class="form-control" />
                <span asp-validation-for="NoOfAirports" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransportImage" class="control-label"></label>
                <input asp-for="TransportImage" class="form-control" />
                <span asp-validation-for="TransportImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoOfUniversities" class="control-label"></label>
                <input asp-for="NoOfUniversities" class="form-control" />
                <span asp-validation-for="NoOfUniversities" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SafetyIndex" class="control-label"></label>
                <input asp-for="SafetyIndex" class="form-control" />
                <span asp-validation-for="SafetyIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PollutionIndex" class="control-label"></label>
                <input asp-for="PollutionIndex" class="form-control" />
                <span asp-validation-for="PollutionIndex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
